<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">

<dom-module id="mdb-example-value-explore">
    <template>
        <style>
             :host {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                width: 100%;
            }
        </style>
        <div>
            <paper-checkbox checked="{{checked}}"></paper-checkbox>
            <span>[[example.label]] ([[example.relevance]]%)</span>
        </div>
    </template>
    <script>
        Polymer({
            is: 'mdb-example-value-explore',

            properties: {
                example: {
                    type: Object,
                    value: {}
                },

                checked: {
                    type: Boolean,
                    value: false
                }
            }
        });
    </script>
</dom-module>